-
  let title = ''
  if (page.category) title = page.category
  if (page.tag) title = page.tag
  if (page.archive){
    if(page.year) title = page.year + (page.month ? '/' + page.month : '')
    else title = 'Archives'
  }

if title
  h2.simple-archive-title
    =title
each item in page.posts.data
  .simple-article-archive
    h2.title
      a(href=config.root+item.path)
        = item.title || item.link
    p.meta
      != item.date.format(config.date_format)
      if item.author
        | by
        = item.author
include _partial/pagination
