.simple-index
  each item in page.posts.data
    .artical-excerpt
      .title
        span.h1=item.title
        span.meta
          = item.date.format(config.date_format)
        if item.author
          span.meta
          | by #{item.author}

      .markdown-content
        !=item.excerpt || item.content

      a.excerpt-link(href=url_for(item.path))
        .text=__('home.excerpt_link')

  include _partial/pagination
