.simple-index
  each item in page.posts.data
    .card.article-excerpt
      a.pure.title(href=url_for(item.path))
        span.h1=item.title
        span.meta=item.date.format(config.date_format)
        if item.author
          span.meta=item.author
      .br
      .markdown-content
        !=item.excerpt || item.content

      .excerpt-link
        .tags
          include _partial/article-tags

  include _partial/pagination
