.simple-index
  each item in page.posts.data
    .article-excerpt
      .title
        span.h1=item.title
        span.meta
          = item.date.format(config.date_format)
        if item.author
          span.meta
          | by #{item.author}
      .markdown-content
        !=item.excerpt || item.content

      .excerpt-link(href=url_for(item.path))
        a.text
          =__('home.excerpt_link')
        .tags
          include _partial/article-tags.pug

  include _partial/pagination
