<!DOCTYPE html>
html
  include _partial/head
  body
    .main-content
      .container
        !=body
        include _partial/footer
    .nav-content
      .container
        include _partial/sidebar

    include _partial/after-footer
