<!DOCTYPE html>
html
  include _partial/head

  body
    .simple-layout-nav
      include _partial/sidebar

    .simple-layout-content
      !=body
      include _partial/footer

    if page.title
      #post-nav

    include _partial/after-footer
