<!DOCTYPE html>
html
  include _partial/head

  body
    .simple-layout-nav
      include _partial/sidebar

    .simple-mobile-nav
      #mobile-nav
        i.down.fa.fa-chevron-circle-down
        i.up.fa.fa-chevron-circle-up

    .simple-layout-content
      !=body
      include _partial/footer

    if page.title && page.type !== 'tags'
      #post-nav

    include _partial/after-footer
