<!DOCTYPE html>
html
  include _partial/head
  body
    .container
      .row
        .col-sm-7.blog-main
          !=body
        .col-sm-3.col-sm-offset-1.blog-sidebar
          include _partial/sidebar
    include _partial/footer
    include _partial/after-footer

