.simple-post
  h2.title
    = page.title || page.link
  p.meta
    = page.date.format(config.date_format)
    if page.author
      | by
      = page.author
  #post-content.markdown-content
    != page.content
  br

  .simple-tags
    ul
      if page.tags && page.tags.length
        each tag in page.tags.data
          li
            a(href=config.root+tag.path)
              i.fa.fa-tag
              =tag.name
