.simple-post
  h1.title
    = page.title || page.link
  p.meta.post-meta
    = page.date.format(config.date_format)
    if page.author
      | by
      = page.author

  #post-content.markdown-content
    != page.content
  br

  include _partial/article-tags
