-
  let tags = []
  let find = {}
  site.posts.forEach(post => {
    post.tags.data.forEach(tag => {
      find = tags.find(T => T.name === tag.name)

      if(find) find.number ++
      else tags.push({
        name: tag.name,
        path: tag.path,
        number: 1,
      })
    })
  })

  let maxTagNumber = 1;

  tags.sort((a, b) => {
    const max = a.number > b.number ? a.number : b.number;
    maxTagNumber = max > maxTagNumber ? max : maxTagNumber;
    return a.name < b.name ? -1 : 1;
  });

.simple-tags
  //- h1.title=__('tags.title')

  ul.tags
    each tag in tags
      - percent = (tag.number / maxTagNumber) * 0.5 + 0.5
      li(style="opacity:" + percent + ';font-size:' + percent + 'em;')
        a(href=url_for(tag.path))
          | #{tag.name}(#{tag.number})

