.simple-archives {
  .title {
    .number {
      margin-left: 0.5em;
    }
  }

  .archives {
    .archive {
      ul.posts {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;

        li {
          overflow: hidden;

          a.post {
            display: block;
            padding: 10px 20px;
            margin: 10px;
            box-shadow: 0 0 2px $color-primary;

            &::before,
            &::after {
              content: none;
            }

            &:hover {
              box-shadow: 0 0 10px $color-primary;
            }

            .title {
              margin-bottom: 4px;
              overflow: hidden;
              font-size: large;
              font-weight: bold;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .simple-archives {
    .archives {
      .archive {
        ul.posts {
          flex-direction: column;

          li {
            width: 100%;
          }
        }
      }
    }
  }
}
