@mixin import-font($name, $weight) {
  @font-face {
    font-family: 'Fira Code';
    src: url('eot/FiraCode-Light.eot');
    src: url('eot/FiraCode-Light.eot') format('embedded-opentype');
    src: url('woff2/FiraCode-Light.woff2') format('woff2');
    src: url('woff/FiraCode-Light.woff') format('woff');
    src: url('ttf/FiraCode-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: $weight;
  }
}

@include import-font('Fira Code', 300);
@include import-font('Fira Code', 400);
@include import-font('Fira Code', 500);
@include import-font('Fira Code', 700);
