@import "./base.scss";

.simple-footer {
  margin-top: 5px;
  text-align: center;
  color: lighten($color: $color-gray, $amount: 30);
  line-height: 1.5em;

  .footer-link {
    margin: 0 0.5em;
  }
}
