@import 'lib/normalize.css';
@import 'base.scss';
@import 'mixin/common.scss';

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: $color-gray;
}

a {
  position: relative;
  color: $color-gray;
  text-decoration: unset;
  border: none;

  @include transitioned();

  &::before,
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
  }

  &::before {
    border-bottom: 1px solid lighten($color: $color-gray, $amount: 40);
  }

  &::after {
    left: 50%;
    width: 0%;
    border-bottom: 1px solid $color-primary;
    transition: all 0.4s ease-out;
    transform: translateX(-50%);
  }

  &.hover,
  &:hover {
    color: $color-primary;

    &::after {
      width: 100%;
    }
  }
}

html,
body,
div {
  scroll-behavior: smooth;
}

body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

// font-awesome icon
.fa {
  margin: 0 3px;
}

.decoration-line {
  width: 100%;
  height: 0;
  margin: 0 auto;
  border-top: 1px solid lighten($color: $color-primary, $amount: 30);
}

// scroll bar

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;

  &:horizontal {
    height: 10px;
  }
}

::-webkit-scrollbar-thumb {
  background-color: lighten($color-primary, 20);

  &:hover {
    background-color: lighten($color-primary, 10);
  }
}
