$color-primary: #FC5136;
$color-lightyellow: #FFF7D6;
$color-gray: #3E3E3E;

h1, h2, h3, h4, h5, h6, p {
  color: $color-gray;
}

a{
  color: $color-gray;
  border: none;
  text-decoration: transparent;

  &:hover{
    color: darken($color: $color-gray, $amount: 60);
  }
}

ul {
  list-style: none;
  padding-left: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}