@import 'global.scss';
@import 'index.scss';
@import 'post.scss';
@import 'sidebar.scss';
@import 'markdown.scss';
@import 'footer.scss';
@import 'tags.scss';
@import 'archives.scss';

body {
  display: flex;
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
  background-color: $color-white;

  $nav-width: 220px;
  $page-nav-width: 260px;

  .simple-layout-content {
    flex: 1;
    height: 100vh;
    padding: 0 50px;
    overflow: auto;
  }

  #post-nav {
    display: flex;
    flex: 0;
    justify-content: center;
    height: 100vh;
    overflow: auto;
    font-size: smaller;
    border-right: 1px solid lighten($color: $color-primary, $amount: 30);
    border-left: 1px solid lighten($color: $color-primary, $amount: 30);

    @include transitioned(0.4s);

    &.active {
      flex: 0 0 $page-nav-width;
    }
  }

  .simple-layout-nav {
    flex: 0 0 $nav-width;
    height: 100vh;
    border-right: 1px solid lighten($color: $color-primary, $amount: 30);
    border-left: 1px solid lighten($color: $color-primary, $amount: 30);
  }
}
