.nav {
  text-align: center;

  .avatar {
    width: 100px;
    height: 100px;
    margin: 30px auto 0;
    overflow: hidden;
    border-radius: 50%;
  }

  .author {
    text-emphasis: none;
  }

  .subtitle {
    background-color: #fff;
  }

  .nav-links {
    .links {
      text-align: left;

      .link {
        display: inline-block;
        width: 50%;

        a {
          i {
            margin-left: 24px;
            font-size: larger;
          }

          span {
            margin-left: 10px;
            text-transform: capitalize;
          }
        }
      }
    }
  }

  .nav-menu {
    .menus {
      .menu {
        &.active,
        &:hover {
          background-color: $color-lightyellow;
        }

        a {
          display: block;
          width: 100%;
          height: 100%;
          padding: 10px 0;
        }
      }
    }
  }
}
