.simple-sidebar {
  margin-top: 20px;

  ul {
    padding-left: 0;
    list-style: none;
  }

  a {
    &::before,
    &::after {
      content: none;
    }
  }

  .avatar {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 50%;

    img {
      width: 100% !important;
      height: 100% !important;
    }
  }

  .author,
  .subtitle {
    font-size: small;
    text-align: center;
  }

  ul {
    width: 160px;
    margin: 20px auto;

    li {
      margin-bottom: 5px;

      i {
        width: 22px;
      }
    }

    &.links {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      text-transform: capitalize;

      li {
        width: 50%;
      }
    }

    &.menu {
      li {
        margin-bottom: 15px;
        font-size: larger;

        a {
          display: block;
          width: 100%;

          &::after,
          &::before {
            content: '';
            border-bottom: none;
            border-left: 0 solid $color-primary;
          }
        }

        &.hover,
        &:hover {
          a {
            &::before {
              left: -8px;
              border-left-width: 4px;
            }
          }
        }
      }
    }
  }
}
