.simple-sidebar {
  .avatar {
    width: fit-content;
    margin: 0 auto;
  }

  .author,
  .subtitle {
    text-align: center;
  }

  ul {
    li {
      i {
        margin-right: 10px;
      }
    }

    &.links {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      li {
        width: 50%;
      }
    }
  }
}
