.simple-tags {
  ul.tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 90%;
    padding-left: 0;
    margin: 40px auto;
    list-style: none;

    li {
      width: 33%;

      a {
        display: block;
        padding: 20px 10px;
        margin: 10px 25px;

        @include card();

        &::after,
        &::before {
          content: none;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .simple-tags {
    ul.tags {
      flex-direction: column;
      padding: 0;

      li {
        width: 100%;
      }
    }
  }
}
