script(src="/js/lib/jquery.min.js")
script(src="/js/lib/lodash.min.js")
script(src="/js/jqueryPlugins/fancyImg.js")
script(src="/js/global.js")
script(src="/js/navbar.js")
script(src="/js/post.js")
script(src="/js/registerSW.js")
