.simple-footer
  p
    a.footer-link(href="https://github.com/cwxyz007/hexo-simple-template" target="_blank") Simple
    | template theme build for
    a.footer-link(href="https://hexo.io/zh-cn/" target="_blank") Hexo
    | by
    a.footer-link.author(href="mailto:844067636@qq.com") @Cwxyz
