.simple-footer
  p
    | Powered by
    a.footer-link(href="https://github.com/cwxyz007/hexo-simple-template" target="_blank" rel="noopener") Simple
    | and
    a.footer-link(href="https://hexo.io/zh-cn/" target="_blank" rel="noopener") Hexo
    |, Made By
    a.footer-link.author(href="mailto:844067636@qq.com") @Cwxyz
