.simple-footer
  p
    a.footer-link(herf="https://github.com/cwxyz007/hexo-simple-template") Simple
    | template built for
    a.footer-link(href="https://hexo.io/zh-cn/") Hexo
    | by
    a.footer-link.author(href="mailto:844067636@qq.com") @Cwxyz
