.simple-pagination
  ul
    if page.prev
      li.prev
        a(href=config.root+page.prev_link)
          = __('pagination.prev')
    if page.next
      li.next
        a(href=config.root+page.next_link)
          = __('pagination.next')
