.simple-pagination
  ul
    if page.prev
      li
        a(href=config.root+page.prev_link)
          = __('pagination.prev')
    if page.next
      li
        a(href=config.root+page.next_link)
          = __('pagination.next')
