.nav
  .avatar
    img(src="holder.js/100x100", alt="", srcset="")
  h2.author
    = config.author
  h3.subtitle
    = config.subtitle

  .nav-links
    ul.links
      each link, name in theme.links
        li.link
          a(href=link.link)
            i.fa(class="fa-" + link.icon)
            span= name

  .nav-menu
    ul.menus
      each link, name in theme.menu
        li.menu(class=name.toLowerCase())
          a(href=url_for(link))= name