.sidebar-module.sidebar-module-inset
  h4 About Me
  p 
    = config.description
.sidebar-module
  h4 Tags
  ol.list-unstyled
    each tag in site.tags.toArray()
      li
        a(href=config.root + tag.path)
          = tag.name