.simple-sidebar
  .head
    .avatar
      img(src="holder.js/200x200", alt="", srcset="")

    .info
      h3.author
        = config.author
      h4.subtitle
        = config.subtitle

  ul.links
    each link, name in theme.links
      li
        a(href=link.link target='_blank')
          i.fa(class="fa-" + link.icon)
          span= name
  .decoration-line
  ul.menu
    each value, name in theme.menu
      li(class=name.toLowerCase())
        a(href=url_for(value.path))
          i.fa(class="fa-" + value.icon)
          = name
  .decoration-line
