.sidebar-module.sidebar-module-inset
  h4 About
  p 
    |Etiam porta 
    em sem malesuada magna 
    | mollis enuismod.
.sidebar-module
  h4 Archives
  ol.list-unstyled
    li
      a(href="#") March 2014
    li
      a(href="#") February  2014
    li
      a(href="#") January  2014
    li
      a(href="#") December  2013
.sidebar-module
  h4 Elsewhere
  ol.list-unstyled
    li
      a(href="#") GitHub
    li
      a(href="#") Twitter
    li
      a(href="#") Facebook